{
    "extends": "stylelint-config-standard",
    "rules": {
        "block-no-empty": null,
        "at-rule-empty-line-before": null,
        "rule-non-nested-empty-line-before": null,
        "indentation": [ 4, {
            "severity": "warning",
            "except": ["param"],
            "message": "Please use 4 spaces for indentation. Tabs make The Architect grumpy."
        } ]
    }
}
