.back-img {
    position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin-top: 0;
	overflow: hidden;
}

.back-img img {
	height: 120%;
	min-width: 120%;
	position: fixed;
	
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	
	 margin: -10px -10px -10px -10px;
}

.over-img {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#mobile {
	margin-left: -200px;
	margin-right: auto;
	margin-top: 10px;
	width: 1000px;
}

.promo {
	margin-top: 275px;
}

.download-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

h3 {
	font-family: libre-baskerville;
}

.section1 {
	display: block;
	height: 100vh;
	margin-top: 0;
	color: white;
	text-align: center;
	vertical-align: middle;
	width: 600px;
	overflow: hidden;
}

.section1 h2 {
	font-size: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.section1 h3 {
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.section1 p {
	font-size: 40px;
}

#register-btn {
	font-size: 30px;
	width: 200px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	background-color: transparent;
	border: 3px solid white;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 50px;
}

#register-btn:hover {
	/*background-color: rgba(1, 206, 209 , 0.4);*/
	border: 3px solid #01ced1;
	background-color: #01ced1;
}

#line {
	width: 100%;
	background-color: #01ced1;
	height: 16px;
}

.section2 {
	width: 100%;
	height: 100%;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 70px; 
}

.title {
	width: 60%;
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	text-align: center;
}

#features {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

.feature-item {
	width: 310px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}


.feature-item img {
	height: 150px;
}
