// --------------------------MARGINS
// --------LARGE
.margin-horizontal-large {
  margin-right: $large;
  margin-left: $large;
}

.margin-vertical-large {
  margin-top: $large;
  margin-bottom: $large;
}

.margin-top-large {
  margin-top: $large;
}

.margin-bottom-large {
  margin-bottom: $large;
}

.margin-left-large {
  margin-left: $large;
}

.margin-right-large {
  margin-right: $large;
}

//-------MEDIUM
.margin-horizontal-medium {
  margin-right: $medium;
  margin-left: $medium;
}

.margin-vertical-medium {
  margin-top: $medium;
  margin-bottom: $medium;
}

.margin-top-medium {
  margin-top: $medium;
}

.margin-bottom-medium {
  margin-bottom: $medium;
}

.margin-left-medium {
  margin-left: $medium;
}

.margin-right-medium {
  margin-right: $medium;
}

//-------SMALL
.margin-horizontal-small {
  margin-right: $small;
  margin-left: $small;
}

.margin-vertical-small {
  margin-top: $small;
  margin-bottom: $small;
}

.margin-top-small {
  margin-top: $small;
}

.margin-bottom-small {
  margin-bottom: $small;
}

.margin-left-small {
  margin-left: $small;
}

.margin-right-small {
  margin-right: $small;
}


// --------------------------PADDINGS
// --------LARGE
.padding-horizontal-large {
  padding-right: $large;
  padding-left: $large;
}

.padding-vertical-large {
  padding-top: $large;
  padding-bottom: $large;
}

.padding-top-large {
  padding-top: $large;
}

.padding-bottom-large {
  padding-bottom: $large;
}

.padding-left-large {
  padding-left: $large;
}

.padding-right-large {
  padding-right: $large;
}

//-------MEDIUM
.padding-horizontal-medium {
  padding-right: $medium;
  padding-left: $medium;
}

.padding-vertical-medium {
  padding-top: $medium;
  padding-bottom: $medium;
}

.padding-top-medium {
  padding-top: $medium;
}

.padding-bottom-medium {
  padding-bottom: $medium;
}

.padding-left-medium {
  padding-left: $medium;
}

.padding-right-medium {
  padding-right: $medium;
}

//-------SMALL
.padding-horizontal-small {
  padding-right: $small;
  padding-left: $small;
}

.padding-vertical-small {
  padding-top: $small;
  padding-bottom: $small;
}

.padding-top-small {
  padding-top: $small;
}

.padding-bottom-small {
  padding-bottom: $small;
}

.padding-left-small {
  padding-left: $small;
}

.padding-right-small {
  padding-right: $small;
}

