<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="40" flex-lg="50" flex-md="70" flex-sm="100">
        <md-card>
            <md-toolbar>
                <div class="padding-20 text-center">
                    <div><img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}"></div>
                    <h1 class="md-headline" translate>RESET.TITLE</h1>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <p translate>RESET.ENTER_NEW_PASSWORD</p>
                <form name="reset" ng-submit="vm.saveClick(vm.reset)"
                        novalidate="" role="form">
                    <md-input-container>
                        <label for="password" translate>RESET.PASSWORD.LABEL</label>
                        <input id="password" label="password" name="password" type="password" ng-model="vm.reset.newPassword" tri-same-password="reset.confirm" ng-minlength="4" required/>
                        <ng-messages for="reset.password.$error" ng-if="reset.password.$dirty"></ng-messages>
                    </md-input-container>

                    <md-input-container>
                        <label for="password" translate>RESET.PASSWORD_CONFIRM.LABEL</label>
                        <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.reset.confirmPassword" tri-same-password="reset.password" ng-minlength="4" required/>
                        <ng-messages for="reset.confirm.$error" ng-if="reset.confirm.$dirty"></ng-messages>
                    </md-input-container>

                    <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" type="submit" ng-disabled="reset.$invalid" translate="RESET.BUTTON" aria-label="{{'RESET.BUTTON' | translate}}"></md-button>
                </form>
            </md-content>
        </md-card>

    </div>
</div>
