<div id="team-banner">
    <h2>MEET THE TEAM</h2>
    <img id="team-drawing" src="assets/team/team2.svg">
</div>

<div id="team-container" class="content-container">
    <div class="team-member">
        <a href="linkedin.com" target="_blank">
            <img class="clip-circle grow" src="assets/team/hengshuai.png">
            <h2>Hengshuai Yao</h2>
        </a>
        <i><h3>CEO & Founder</h3></i>
        <p>Hengshuai believes Machine Learning can make people's lives better. That is why he decided to pursue his idea behind
            openprice. Hengshuai's responsibilities include managing the team and working on the back-end to ensure clean
            results.</p>
        <p>Hengshuai is a PhD candidate at University of Alberta. He has 10+ years of research experience in Reinforcement Learning
            and Machine Learning, and has won numerous awards for his work including placing 4th at the World RoboCup Simulation
            League in 2004.</p>
        <p>While working at Yahoo! Hengshuai won the Yahoo! CEO award for his work on "Early Trending", bringing detection time
            of trending topics down from 97 hours to 1.5 hours.</p>
    </div>
    <div class="team-member">
        <a href="linkedin.com" target="_blank">
            <img class="clip-circle grow" src="assets/team/yuan.jpg">
            <h2>Yuan Ji</h2>
        </a>
        <i><h3>CTO & Co-Founder</h3></i>
        <p>Yuan is a passionate learner and computer programmer who believes clean code and craftsmanship is the foundation
            of a great software product.</p>
        <p> He is the architect of openprice. He works on all major parts of the product including cloud infrastructure, back-end
            Restful API, mobile and web front end.</p>

        <p>Yuan got his master degree in Computing Science at the University of Alberta, and has been as professional enterprise
            application developer for 15 years.</p>
        <p>In his spare time, he is an open source evangelist. He has participated in a number of open source projects, and
            won the Spring Champion in 2013 by contributing to the <a href="https://github.com/spring-projects/spring-social"
            target="_blank">Spring Social Security Project</a>.</p>
    </div>


</div>