<div id="team-banner">
    <h2>MEET THE TEAM</h2>
    <img id="team-drawing" src="assets/team/team2.svg">
</div>

<div id="team-container" class="content-container">
    <div class="team-member">
        <a href="linkedin.com" target="_blank">
            <img class="clip-circle grow" src="assets/team/hengshuai.png">
            <h2>Hengshuai Yao</h2>
        </a>
        <i><h3>CEO & Founder</h3></i>
        <p>Hengshuai believes Machine Learning can make people's lives better. That is why he decided to pursue his idea behind
            openprice. Hengshuai's responsibilities include managing the team and working on the back-end to ensure clean
            results.</p>
        <p>Hengshuai is a PhD candidate at University of Alberta. He has 10+ years of research experience in Reinforcement Learning
            and Machine Learning, and has won numerous awards for his work including placing 4th at the World RoboCup Simulation
            League in 2004.</p>
        <p>While working at Yahoo! Hengshuai won the Yahoo! CEO award for his work on "Early Trending", bringing detection time
            of trending topics down from 97 hours to 1.5 hours.</p>
    </div>
    <div class="team-member">
        <a href="linkedin.com" target="_blank">
            <img class="clip-circle grow" src="assets/team/yuan.jpg">
            <h2>Yuan Ji</h2>
        </a>
        <i><h3>CTO & Co-Founder</h3></i>
        <p>Yuan is a passionate learner and computer programmer who believes clean code and craftsmanship is the foundation
            of a great software product.</p>
        <p> He is the architect of openprice. He works on all major parts of the product including cloud infrastructure, back-end
            Restful API, mobile and web front end.</p>

        <p>Yuan got his master degree in Computing Science at the University of Alberta, and has been as professional enterprise
            application developer for 15 years.</p>
        <p>In his spare time, he is an open source evangelist. He has participated in a number of open source projects, and
            won the Spring Champion in 2013 by contributing to the <a href="https://github.com/spring-projects/spring-social"
            target="_blank">Spring Social Security Project</a>.</p>
    </div>
    <!--
		<div class="team-member">
			<a href="linkedin.com" target="_blank">
				<img class="clip-circle grow" src="assets/team/reka.jpg">
				<h2>Reka Szepesvari</h2>
			</a>
			<i><h3>Design Director</h3></i>
			<p>Reka is the wizard behind the look and feel of openprice and the GroundTruth brand.</p> 
			<p>She received her BA in Fine Arts Honours Studio Practice at the University of Waterloo, and graduated at the top of her class.</p>
			<p>Reka has been working as a freelance graphic designer for 3+ years. Whether it is a major job for a company, a personal project, or a hackathon challenge, Reka believes in the beauty of ideas and realizing them in ways that make people's lives better! She loves taking on creative design challenges and even getting her hands dirty with HTML and CSS.</p>
			<p> When she is not designing (or coding), Reka is an exhibiting Fine Artist and Photographer. </p>
		</div>
		<div class="team-member">
			<a href="linkedin.com" target="_blank">
				<img class="clip-circle grow" src="assets/team/hu.jpg">
				<h2>Hu Zhang</h2>
			</a>
			<i><h3>Full-Stack Engineer</h3></i>
			<p>Hengshuai is a Phd candidate at University of Alberta. He has 10+ years of research experience on reinforcement learning and machine learning.</p> 
			<p>In his first master's program he and his team mates won the fourth place at World RoboCup Simulation League in Lisbon, Portugal, 2004.</p>
			<p>He won a Yahoo! CEO award for his work on “EarlyTrending”---detecting trending topics from search engine query logs. His work advances the detection time of trending topics from 97 hours to 1.5 hours at the time, and he presented the work to Marissa Mayer and her e-Staff on Yahoo! FYI, 2013. </p>
		</div>
		<div class="team-member">
			<a href="linkedin.com" target="_blank">
				<img class="clip-circle grow" src="assets/team/haipeng.jpg">
				<h2>Haipeng Li</h2>
			</a>
			<i><h3>Back-End Developer</h3></i>
			<p>Hengshuai is a Phd candidate at University of Alberta. He has 10+ years of research experience on reinforcement learning and machine learning.</p> 
			<p>In his first master's program he and his team mates won the fourth place at World RoboCup Simulation League in Lisbon, Portugal, 2004.</p>
			<p>He won a Yahoo! CEO award for his work on “EarlyTrending”---detecting trending topics from search engine query logs. His work advances the detection time of trending topics from 97 hours to 1.5 hours at the time, and he presented the work to Marissa Mayer and her e-Staff on Yahoo! FYI, 2013. </p>
		</div>
		<div class="team-member">
			<a href="linkedin.com" target="_blank">
				<img class="clip-circle grow" src="assets/team/csaba.jpg">
				<h2>Dr. Csaba Szepesvari</h2>
			</a>
			<i><h3>Advisor / Professor at the University of Alberta</h3></i>
			<p>Hengshuai is a Phd candidate at University of Alberta. He has 10+ years of research experience on reinforcement learning and machine learning.</p> 
			<p>In his first master's program he and his team mates won the fourth place at World RoboCup Simulation League in Lisbon, Portugal, 2004.</p>
			<p>He won a Yahoo! CEO award for his work on “EarlyTrending”---detecting trending topics from search engine query logs. His work advances the detection time of trending topics from 97 hours to 1.5 hours at the time, and he presented the work to Marissa Mayer and her e-Staff on Yahoo! FYI, 2013. </p>
		</div>
		<div class="team-member">
			<a href="linkedin.com" target="_blank">
				<img class="clip-circle grow" src="assets/team/Deon.jpg">
				<h2>Deon Nicholas</h2>
			</a>
			<i><h3>Advisor / Software Engineer at Dropbox</h3></i>
			<p>Hengshuai is a Phd candidate at University of Alberta. He has 10+ years of research experience on reinforcement learning and machine learning.</p> 
			<p>In his first master's program he and his team mates won the fourth place at World RoboCup Simulation League in Lisbon, Portugal, 2004.</p>
			<p>He won a Yahoo! CEO award for his work on “EarlyTrending”---detecting trending topics from search engine query logs. His work advances the detection time of trending topics from 97 hours to 1.5 hours at the time, and he presented the work to Marissa Mayer and her e-Staff on Yahoo! FYI, 2013. </p>
		</div>-->
</div>