<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">RESET PASSWORD for {{email}}</h3>
                </div>
                <div class="panel-body" *ngIf="invalid">
                    <alert type="danger">Reset password request expired or not existing anymore!</alert>
                </div>
                <div class="panel-body" *ngIf="success">
                    <alert type="sucess">You sucessfully reset your password for account {{email}}!</alert>
                    <a href="/login">Go to Login Page.</a>
                </div>
                <div class="panel-body" *ngIf="!invalid && !success">
                    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="text" class="form-control" 
                                [(ngModel)]="model.newPassword" 
                                ngControl="newPasswordname" 
                                placeholder="New password..." required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="text" class="form-control" 
                                [(ngModel)]="model.confirmPassword" 
                                ngControl="confirmPassword"
                                placeholder="Confirm password..." required>
                        </div>
                        <button type="submit" class="btn btn-primary" 
                            [disabled]="!resetForm.form.valid">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>